body {
    background-color: #EEE;
}

table { 
    margin-left: auto;
    margin-right: auto;
}

span { 
    color:#226; font-weight:bolder; font-size:18px;
}

#logon-panel {
    width:400px; height: 300px;
    background: linear-gradient(30deg, #BBB, #DDD, #BBB);
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

#creds > tbody > tr > td 
{
    padding: 4px;
    text-align: center;
}

input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder {color: #777;}
input[type=button] {width:192px; height: 32px; background-color:rgb(32, 64, 64); color:#DDD; font-family:Tahoma; font-weight:bolder; font-size:14px; border: none}
input[type=text], input[type=password] {width:192px; height: 24px; background-color:#EEE; color:#333; border-radius:4px; font-family:Tahoma; font-weight:bolder; font-size:12px; border-color:#AAA}
